<mat-card>
  <mat-card-title>{{user.username}}</mat-card-title>
  <form>
    <div class="form-group">
      <label for="username" name="username">Username:</label>
      <input name="username" id="username" [(ngModel)]="user.username" placeholder="username" />
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input name="password" id="password" [(ngModel)]="user.password" placeholder="password" />
    </div>

    <div class="form-group">
      <label for="role">Role:</label>
      <select id="role" [(ngModel)]="user.role" name="role">
        <option *ngFor="let key of keys" [value]="key" [label]="roles[key]">
        </option>
      </select>
    </div>
  </form>
  <button mat-button color="warn" (click)="removeUser()">Delete User</button>
</mat-card>
