<div class="container">
  <h1>New Location</h1>
  <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Title</label>
      <input type="text" class="form-control" formControlName="title" required>
    </div>
    <div>
      <label>Description</label>
      <input type="text" class="form-control" formControlName="description" required>
    </div>
    <div>
      <label>Place</label>
      <input type="text" class="form-control" formControlName="place" required>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>

  <div *ngIf="title?.invalid && title?.touched" class="alert alert-danger">

    <div *ngIf="title?.errors?.['required']">
      Title is required.
    </div>
  </div>
  <div *ngIf="description?.invalid && description?.touched" class="alert alert-danger">

    <div *ngIf="description?.errors?.['required']">
      Description is required.
    </div>
  </div>

  <div *ngIf="place?.invalid && place?.touched" class="alert alert-danger">

    <div *ngIf="place?.errors?.['required']">
      Place is required.
    </div>
  </div>
</div>
